
.card {
  border-radius: 16px;
  overflow: hidden;
  background: white;
}

.cardImg {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}

.cardTitle {
  font-size: 20px;
  font-weight: 500;
  margin: 8px 12px 2px;
  color: black
}

.cardCaption {
  font-size: 12px;
  margin: 0 12px 10px;
  color: #444;
}