.dropdown {
  border-top: 0.5px solid #e0e0e0;
}

.dropdown-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.dropdown-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.dropdown-chevron {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.1rem;
  color: #666;

  transition: transform 0.2s ease;
}

.dropdown-body {
  padding-bottom: 14px;
  padding-top: 20px;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}
